/* fonts */
@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf')  format('truetype'), url('../fonts/roboto-regular.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.ttf')  format('truetype'), url('../fonts/roboto-bold.svg#roboto-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Body & Main */
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #606060;
}

/* Links */
a {
  color: #ffad22;
}

a:hover,
a:focus,
a:active {
  color: #ffad22;
  text-decoration: none;
}

/*set max img width*/
img {
  max-width: 100%;
}

/* Commons */
.remove-margin {
  margin-right: 0 !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* preformatted text */
ul,
ol {
  margin: 0 0 1em 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

ul.inline,
ul.links.inline {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: bold;
  padding: 10px 10px;
}

tr {
  padding: 5px 5px;
}

td {
  padding: 5px 10px;
}

#primary table {
  margin: 0 0 1.5em;
  width: 100%;
  border: 1px solid #ddd;
  border-right: none;
  background: #fff;
}
#primary th {
  font-weight: bold;
  padding: 10px 10px;
  background: #555;
  color: #fff;
}
#primary tr {
  padding: 5px 5px;
}

#primary td {
  padding: 5px 10px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  margin: 0 0 20px;
}
p img {
  margin: 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
small {
  font-size: 80%;
}
hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}
p a,
p a:visited {
  line-height: inherit;
}
a:link {
  text-decoration: none;
}
a:focus {
  outline: 0;
}
a {
  outline: 0;
}
p a,
p a:visited {
  line-height: inherit;
}
a:focus {
  outline: 0;
}

/* Header */
#site-logo {
  float: left;
  padding: 15px 15px 0 0;
}
h1#site-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 18px;
  clear: none;
}
h1#site-title a:link,
h1#site-title a:visited {
  color: #000;
}

/* Menu */
#logo {
  float: left;
}
.menutoggle {
  width: 36px;
  height: 36px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  display: none;
}
.menutoggle {
  width: 36px;
  height: 36px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  display: none;
}

/* Navigation */
.navigation nav ul {
  width: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 8px 20px;
}
.navigation nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
}
.navigation nav li a {
  color: #666;
  display: block;
  margin: 0;
  padding: 12px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

/* Layout */
#primary {
  padding-top: 20px;
  padding-bottom: 20px;
}
#sidebar {
  padding-bottom: 20px;
}

/* Containers */
.container {
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 80em;
}
/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.row > * {
  padding: 0 0 0 2em;
}

.row {
  margin: 0 0 -1px -2em;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

body {
  background: #fff;
}


/* Type */
body,
input,
select,
textarea {
  color: #363636;
  font-family: "roboto-regular", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.5;
}

#sidebar .block {
  padding-bottom: 25px;
}

a {
  color: #ffad22;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong,
b {
  color: #727a82;
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto-bold";
  color: #797979;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.75em;
  line-height: 1.3;
  color: #ffb133;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
  color: #ffb133;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.7em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  font-style: italic;
  margin: 0 0 2em 0;
}

figure {
  margin: 0 0 2em 0;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px #dee1e3;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px #dee1e3;
  margin: 2em 0;
}

.align-left {
  text-align: left;
  padding-right: 5px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
  padding-left: 5px;
}

/* Section/Article */
header p {
  color: #bbb;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h1 + p {
  font-size: 1.25em;
  margin-top: -1em;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
}

/* Form */
label {
  color: #727a82;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: none;
  border: solid 1px #dee1e3;
  color: inherit;
  padding: 0 1em;
  display: block;
  outline: 0;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
  border-color: #ffb132;
  box-shadow: 0 0 0 1px #ffb132;
}

.sidebar input[type="search"] {
  width: 86%;
}

.search-form input[type="search"] {
  width: 96%;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  color: #dee1e3;
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em;
}

.select-wrapper select::-ms-expand {
  display: none;
}

#edit-preview {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
select {
  height: 2.5em;
  line-height: 2.5em;
  margin: 0;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #767d85;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
  padding-top: 1px
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px #dee1e3;
  content: '';
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: #f6755e;
  border-color: #f6755e;
  color: #ffffff;
  content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #25a2c3;
  box-shadow: 0 0 0 1px #25a2c3;
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}


/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.round img {
  border-radius: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}
ol li {
  padding-left: 0.25em;
}
ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}
dl {
  margin: 0 0 2em 0;
}

dl dt {
  display: block;
  font-weight: 700;
  margin: 0 0 1em 0;
}

dl dd {
  margin-left: 2em;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px #dee1e3;
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #727a82;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px #dee1e3;
}

table tfoot {
  border-top: solid 2px #dee1e3;
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px #dee1e3;
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #ffb132;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

form input[type="submit"],
form input[type="reset"],
form input[type="button"],
form button,
form .button {
  margin: 16px 0;
}

.sidebar form input[type="submit"],
.sidebar form input[type="reset"],
.sidebar form input[type="button"],
.sidebar form button,
.sidebar form .button {
  width: 100%;
}

.block h2 {
  border-bottom: 3px solid #efefef;
  padding-bottom: 3px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #f79c08;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #ffb132;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35em;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dee1e3;
  color: #727a82 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
  color: #bbb;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #25a2c3;
  color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #2bb3d7;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #2190ae;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: #767d85 !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25;
}

/* Flex */
.flex {
  display: -ms-flexbox;
  -ms-flex-wrap: nowrap;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex.flex-3 .flex-item {
  -ms-flex: 0 1 auto;
  -ms-flex-preferred-size: 30%;
  -moz-flex-basis: 30%;
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}

.flex.flex-3 .flex-item.left {
  text-align: right;
}

/* Wrapper */
.wrapper {
  padding: 6em 0 4em 0;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5 {
  color: #797979;
}

/* Header */
#header {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #fbfbfb;
  cursor: default;
  height: auto;
  left: 0;
  width: 100%;
  margin-bottom: 3px;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(10, 8, 8, 0.32);
}

.site-branding-logo {
  vertical-align: middle;
  padding-left: 10px;
  margin: 0px;
}

#logo .site-branding-logo img {
  height: 50px;
}

#header.sm {
  height: 4em;
  line-height: 4em;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
}

#header .logo {
  font-size: 2em;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  padding: 6px;
}

.site-branding-slogan {
  font-size: 11px;
  color: #ada7a7;
  display: inline-block;
  font-weight: normal;
  letter-spacing: 1px;
  vertical-align: super;
}
#header nav.left {
  left: 2em;
}

#header nav.right {
  right: 2em;
}

#header nav .button {
  padding: 0 2em;
  height: 3.25em;
  line-height: 3.25em;
}

#header nav a[href="#menu"] {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 2em;
  color: #dee1e3;
  z-index: 10005;
}

#header nav a[href="#menu"]:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header nav a[href="#menu"] span {
  display: none;
}

#header nav a[href="#menu"]:before {
  margin: 0 0.5em 0 0;
}
/* Breadcrumb*/
.block-system-breadcrumb-block {
  padding-bottom: 10px;
}

.region-highlighted {
  padding-bottom: 16px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #f9f9f9;
  margin: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 2px;
  color: #d6cccc;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  text-decoration: none;
  font-size: 0.8em;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  /*color: #01447e;*/
  text-decoration: underline;
}

#sidebar h2 {
  font-size: 1em;
}

/* Menu */
#menu {
  -moz-transform: translateX(-20em);
  -webkit-transform: translateX(-20em);
  -ms-transform: translateX(-20em);
  transform: translateX(-20em);
  -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: #25a2c3;
  color: #ffffff;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 10002;
}

#menu > ul {
  margin: 0 0 1em 0;
}

#menu > ul.links {
  list-style: none;
  padding: 0;
}

#menu > ul.links > li {
  padding: 0;
}

#menu > ul.links > li > a:not(.button) {
  border: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  color: inherit;
  display: block;
  line-height: 3.5em;
  text-decoration: none;
}

#menu > ul.links > li > .button {
  display: block;
  margin: 0.5em 0 0 0;
}

#menu > ul.links > li:first-child > a:not(.button) {
  border-top: 0 !important;
}

#menu > ul.actions {
  display: none;
}

#menu .close {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #a7d9e7;
  cursor: pointer;
  display: block;
  height: 3.25em;
  line-height: 3.25em;
  padding-right: 1.25em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 7em;
}

#menu .close:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#menu .close:before {
  font-size: 1.25em;
}

#menu .close:hover {
  color: #ffffff;
}

#menu.visible {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}

/* Banner */
.banner img {
  width: 100%;
}

#banner {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #f1ecec;
  max-height: 700px;
}
#banner .banner-image {
  max-height: 700px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#banner .overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

#banner .banner-image img {
  position: relative;
  width: 100%; /*opacity: 0.3;*/
}

#banner .content {
  position: absolute;
  top: 36%;
  width: 100%;
  color: #fff;
}

#banner h1 {
  font-size: 3em;
  color: #fff;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

article .node__submitted {
  font-style: italic;
  padding-bottom: 5px;
}

#banner p {
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

* {
  box-sizing: border-box;
}

.view-frontpage .views-row,
.view-taxonomy-term .views-row {
  float: left;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #afafaf;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.view-frontpage .views-row article,
.view-taxonomy-term .views-row article {
  height: auto !important;
  overflow: hidden;
}
/* clearfix */
.views-element-container .contextual-region:after {
  content: '';
  display: block;
  clear: both;
}
article img {
  height: auto;
}

article h2 {
  color: #ffb133;
}

body.is-loading #banner .content {
  opacity: 0;
  -moz-transform: translateY(1em);
  -webkit-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY(1em);
}

/* Footer */
#footer {
  padding: 3em 0 0 0;
  background: #080808;
  text-align: center;
  color: #fff;
}

#footer h2 {
  color: #fff;
}

#footer .icon {
  color: #ffb132;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer ul li {
  padding: 0 2em;
}

#footer .copyright {
  display: inline-block;
  color: #fff;
  font-size: 0.75em;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2em 10em;
}

.simplelogin #block-tsix-page-title,
.simplelogin #block-tsix-local-tasks {
  display: none;
}
.simplelogin-form input[type="submit"],
.simplelogin-form button.form-submit {
  padding: 0;
}

.brand.logo img {
  height: 2.3em;
}

/* Column width */
.col3 {
  width: 25%;
}

.col4 {
  width: 33.33%;
}

.col6 {
  width: 50%;
}

.col8 {
  width: 66.66%;
}

.col9 {
  width: 75%;
}

.col12 {
  width: 100%;
}

.flright {
  float: right;
}

#content .region {
  margin: 15px 0;
}

.pager {
  padding: 10px;
}

.pager a {
  padding: 8px 13px;
}

.pager li {
  padding: 0;
  margin: 0;
}

.pager a.active,
.pager a.is-active {
  background: #ffad22;
  color: #fff;
}

.pager a:hover:not(.active) {
  background-color: #ddd;
  color: #000;
}

.feed-icons a {
  float: right;
  padding: 10px;
}

.pager .is-active a,
.pager .active a {
  background: #ffad22;
  color: #fff;
}

.site-branding-name {
  vertical-align: super;
  text-transform: capitalize;
}
#block-tsix-branding {
  text-transform: capitalize;
  font-weight: 600;
}

header nav {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 0;
}

header nav li a {
  color: #666;
}

header nav li a:hover,
header nav li a:active,
header nav a.active,
header > nav > ul > li > a.active-trail {
  color: #ffad22;
}

ul.tabs li a {
  padding: 1em;
  background: rgba(40,44,42,0.05);
  color: #74777b;
  line-height: 1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

ul.tabs a.is-active,
ul.tabs li a:hover,
ul.tabs li.is-active,
ul.tabs li:hover {
  background-color: #ffb132;
  color: #fff;
}
ul.tabs li.is-active a,
ul.tabs li a:hover {
  color: #fff;
}

.footer ul.menu a.is-active {
  color: #ffad22;
}

.tabs.primary {
  border-bottom: 1px solid #dadada;
}

.tabs > li {
  margin: 0
}

.sidebar > .region .block {
  background: #fdfdfd45;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #afafaf;
  margin-bottom: 20px;
}

.sidebar > .region .views-element-container .views-row {
  border-bottom: 1px dotted #dcdcdcfa;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.main-wrapper ul li {
  list-style-position: inside;
}

.footer {
  background: #24282d;
  color: #fff;
}

.foot {
  padding: 25px;
}
#highlighted {
  padding: 15px 0 0;
}

.region-highlighted,
#footer-wrapper {
  float: none;
}

ul.menu {
  margin-left: 0;
}
#footer-wrapper h2 {
  color: #fff;
  padding: 0 0 5px 0;
}
.footer-copyright {
  display: inline-block;
  float: left;
  padding: 0 10px 0 0;
}

.footer .social-links {
  float: right;
}

.social-links a {
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  font-family: 'FontAwesome';
  border-radius: 50%;
  background: #636363;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  font-size: 21px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  margin: 0 2px;
}

.social-links a:hover {
  background-color: #ffad22;
}

.copyright {
  background: #fbfbfb;
  padding: 20px;
  border-top: 4px solid #ffad22;
  border-bottom: 4px solid #c1c1c1;
}
.copyright-block a,
.copyright-block {
  padding: 10px 0;
  color: #676767;
}

.footer .block h2 {
  border-bottom: 1px solid #4c4c4c;
}

.ts-footer {
  padding: 25px 0px;
}

#menu-btn .menu-btn {
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #969696;
  display: block;
}

#menu-btn {
  display: none;
  width: 30px;
}

.menu-slide {
  margin: 20px;
  position: absolute;
}

.head-right {
  float: right;
}

/* Code Snippet */
.tscode {
  background: #0e0c0cf2;
  color: #fff;
  padding: 15px;
}

.tscode p {
  margin: 1px;
}

/* tags inline */
.field--type-entity-reference {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding-bottom: 5px;
}

.field--type-entity-reference .field__item {
  display: inline-block;
  padding: 0 5px;
}

/* Instagram */
.iwa li {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: top;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #979797;
}

#page {
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

/** Mobile Menu **/
#slidemenu.active {
  display: block;
}
#slidemenu {
  position: fixed;
  background: #fff;
  height: 100%;
  left: 0;
  top: 0px;
  border-right: 2px solid #e4e4e4;
  width: 75%;
  z-index: 6;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#slidemenu li a {
  display: block;
  text-decoration: none;
  color: #777171;
  background: #f1f1f1;
  padding: 10px 20px;
  margin: 1px;
}

#slidemenu ul {
  list-style-type: none;
  margin: 0;
}

.overlay {
  height: 100%;
  opacity: 0.7;
  background-color: #908989;
  z-index: 1;
  width: 100%;
}

.hamb-icon {
  float: right;
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 2.5em;
  background: #ffb43c;
  margin-right: -60px;
  margin-top: 0;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

#slidemenu {
  display: none;
}

#slidemenu.active {
  left: 0;
  transition: all .2s ease;
  -webkit-transition: all .1s ease;
}

.region-content {
  margin-top: 0;
}

/* Comments */
.comments > article,
.comments .indented > article {
  border: solid 1px #e9e9e9;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 10px;
}

.comments .indented {
  margin-left: 3em;
}

.comments ul.inline li {
  padding: 0 0.5em 0 0;
}

.comments,
.add-comment-form {
  padding-top: 25px;
}
.submitted {
  color: #b1b1b1;
  font-style: italic;
  padding: 0;
  margin: 0 0 0.25em 0;
}

/* tags */
.node__links ul.links li,
.field--name-field-tags .field__item {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border: 1px solid #e8e8e8;
  background: #ededed;
}

.node__links ul.links li {
  margin-right: 4px;
  color: #737373;
}

.node__links ul.links li a,
.field--name-field-tags .field__item a {
  color: #737373;
}

.node__links ul.links li a:hover,
.field--name-field-tags .field__item a:hover {
  color: #ffad22;
}

.field__label {
  color: #8c8b8b;
}

.node__links ul.links li.comment-new-comments {
  display: none !important;
}
